# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store

# App artifacts
*.ipa
*.dSYM.zip
*.dSYM

# Secrets
*.mobileprovision
*.p12
*.cer
*.key
*.xcconfig.local
